{% extends "base.html" %}

{% block content %}

<section class="page-header">

<h1>Корзина</h1>

<p>Проверьте товары перед оформлением заказа</p>

</section>

{% if items %}

<div class="cart-wrapper">

<table class="cart-table">

<thead>

<tr>

<th>Фото</th>
<th>Товар</th>
<th>Цена</th>
<th>Кол-во</th>
<th>Сумма</th>
<th></th>

</tr>

</thead>

<tbody>

{% for item in items %}

<tr>

<td>

<img
class="cart-image"
src="{{ url_for('static', filename='images/products/' ~ item[3]) }}"
onerror="this.src='/static/images/no-image.png';">

</td>

<td>

<b>{{ item[2] }}</b>

</td>

<td>

{{ "{:,.0f}".format(item[4]).replace(",", " ") }} ₸

</td>

<td>

{{ item[5] }}

</td>

<td>

{{ "{:,.0f}".format(item[4]*item[5]).replace(",", " ") }} ₸

</td>

<td>

<a
href="/cart/remove/{{ item[0] }}"
class="delete-btn">

Удалить

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

<div class="cart-total">

<h2>

Итого

</h2>

<h1>

{{ "{:,.0f}".format(total).replace(",", " ") }} ₸

</h1>

<a
href="/checkout"
class="btn glow">

Оформить заказ

</a>

</div>

</div>

{% else %}

<div class="empty-cart">

<h2>

🛒 Корзина пуста

</h2>

<p>

Добавьте товары из каталога.

</p>

<a
href="/brands"
class="btn">

Перейти в каталог

</a>

</div>

{% endif %}

{% endblock %}