{% extends "base.html" %}

{% block content %}

<section class="page-header">

<h1>{{ model_name }}</h1>

<p>Каталог товаров</p>

</section>

<div class="catalog-grid">

{% for p in products %}

<div class="product-card">

<div class="product-image">

<img
src="{{ url_for('static', filename='images/products/' ~ p[3]) }}"
onerror="this.src='/static/images/no-image.png';">

</div>

<div class="product-body">

<h2>{{ p[1] }}</h2>

<p>{{ p[2] }}</p>

<div class="price">

{{ "{:,.0f}".format(p[4]).replace(","," ") }} ₸

</div>

<div class="rating">

⭐ {{ p[6] }}

</div>

{% if p[5] > 0 %}

<div class="stock green">

В наличии

</div>

{% else %}

<div class="stock red">

Нет в наличии

</div>

{% endif %}

<a href="/product/{{ p[0] }}" class="btn">

Подробнее

</a>

</div>

</div>

{% endfor %}

</div>

{% endblock %}