{% extends "base.html" %}

{% block content %}

<h1 class="page-title">

Оформление заказа

</h1>

<form class="checkout-form" method="post">

<input
name="fullname"
placeholder="ФИО"
required>

<input
name="phone"
placeholder="+7 777 777 77 77"
required>

<input
name="city"
placeholder="Город"
required>

<input
name="address"
placeholder="Адрес"
required>

<select name="payment">

<option>

Kaspi

</option>

<option>

Visa

</option>

<option>

MasterCard

</option>

<option>

Наличными

</option>

</select>

<textarea

name="comment"

placeholder="Комментарий"

></textarea>

<button>

Оформить заказ

</button>

</form>

{% endblock %}