{% extends "base.html" %}

{% block content %}

<div class="product-page">

<div class="product-left">

<img
class="product-image"
src="/static/images/products/{{ product[3] }}"
onerror="this.src='/static/images/no-image.png'">

</div>

<div class="product-right">

<div class="product-brand">

{{ product[2] }}

</div>

<h1>

{{ product[1] }}

</h1>

<div class="rating">

⭐ {{ product[6] }}

</div>

<div class="price">

{{ "{:,.0f}".format(product[4]).replace(",", " ") }} ₸

</div>

<div class="stock">

{% if product[5]>0 %}

<span style="color:#00d26a">

✔ В наличии

</span>

{% else %}

<span style="color:red">

Нет в наличии

</span>

{% endif %}

</div>

<p>

{{ product[2] }}

</p>

<br>

<a
href="/cart/add/{{ product[0] }}"
class="btn">

Добавить в корзину

</a>

</div>

</div>

<hr style="margin:60px 0;">

<h2>

Похожие товары

</h2>

<div class="catalog-grid">

{% for item in related %}

<div class="product-card">

<div class="product-image">

<img
src="/static/images/products/{{ item[2] }}"
onerror="this.src='/static/images/no-image.png'">

</div>

<div class="product-body">

<h3>

{{ item[1] }}

</h3>

<div class="product-rating">

⭐ {{ item[4] }}

</div>

<div class="product-price">

{{ "{:,.0f}".format(item[3]).replace(",", " ") }} ₸

</div>

<a
href="/product/{{ item[0] }}"
class="btn">

Подробнее

</a>

</div>

</div>

{% endfor %}

</div>

{% endblock %}