{% extends "base.html" %}

{% block content %}

<div class="product-page">

<div class="product-left">

<img
class="product-main-image"
src="{{ url_for('static', filename='images/products/' ~ product[3]) }}"
onerror="this.src='/static/images/no-image.png';">

</div>

<div class="product-right">

<div class="product-brand">

{{ product[7] }}

</div>

<h1>

{{ product[1] }}

</h1>

<div class="rating">

⭐ {{ product[6] }}

</div>

<p>

{{ product[2] }}

</p>

<h2>

{{ "{:,.0f}".format(product[4]).replace(",", " ") }} ₸

</h2>

{% if product[5] > 0 %}

<p class="green">

✔ В наличии

</p>

{% else %}

<p class="red">

Нет в наличии

</p>

{% endif %}

<div style="margin-top:30px;">

<a
href="/cart/add/{{ product[0] }}"
class="btn glow">

Добавить в корзину

</a>

</div>

</div>

</div>

<hr>

<h2>

Похожие товары

</h2>

<div class="products-grid">

{% for item in related %}

<div class="product-card">

<img

src="{{ url_for('static', filename='images/products/' ~ item[2]) }}"

onerror="this.src='/static/images/no-image.png';">

<h3>

{{ item[1] }}

</h3>

<div>

⭐ {{ item[4] }}

</div>

<div>

{{ "{:,.0f}".format(item[3]).replace(",", " ") }} ₸

</div>

<a
href="/product/{{ item[0] }}"
class="btn">

Подробнее

</a>

</div>

{% endfor %}

</div>

{% endblock %}