{% extends "base.html" %}

{% block content %}

<section class="page-header">

<h1>

Личный кабинет

</h1>

<p>

Добро пожаловать, {{ session["username"] }}

</p>

</section>

<div class="profile-grid">

<div class="card">

<h2>

Пользователь

</h2>

<p>

<b>Логин:</b>

{{ session["username"] }}

</p>

<p>

<b>ID:</b>

{{ session["user_id"] }}

</p>

<a
href="/logout"
class="btn">

Выйти

</a>

</div>

<div class="card">

<h2>

Мои заказы

</h2>

{% if orders %}

<table class="cart-table">

<tr>

<th>ID</th>
<th>Дата</th>
<th>Статус</th>
<th>Сумма</th>

</tr>

{% for order in orders %}

<tr>

<td>

{{ order[0] }}

</td>

<td>

{{ order[3] }}

</td>

<td>

{{ order[2] }}

</td>

<td>

{{ "{:,.0f}".format(order[1]).replace(",", " ") }} ₸

</td>

</tr>

{% endfor %}

</table>

{% else %}

<p>

У вас пока нет заказов.

</p>

{% endif %}

</div>

</div>

{% endblock %}