{% extends "base.html" %}

{% block content %}

<h1 class="page-title">

Личный кабинет

</h1>

<div class="profile-grid">

<div class="profile-card">

<img

class="avatar"

src="{{ url_for('static', filename='avatar.png') }}"

onerror="this.src='https://placehold.co/200x200?text=USER'">

<h2>

{{ user[0] }}

</h2>

<p>

📧 {{ user[1] }}

</p>

<p>

📞 {{ user[2] or "Не указан" }}

</p>

<p>

📅 Регистрация

{{ user[4].strftime("%d.%m.%Y") if user[4] }}

</p>

<a

href="/logout"

class="catalog-btn">

Выйти

</a>

</div>

<div>

<h2>

История заказов

</h2>

{% if orders %}

<table class="cart-table">

<tr>

<th>ID</th>

<th>Дата</th>

<th>Сумма</th>

<th></th>

</tr>

{% for order in orders %}

<tr>

<td>

#{{ order[0] }}

</td>

<td>

{{ order[2].strftime("%d.%m.%Y") }}

</td>

<td>

{{ "{:,.0f}".format(order[1]).replace(","," ") }} ₸

</td>

<td>

<a

href="/order/{{ order[0] }}">

Подробнее

</a>

</td>

</tr>

{% endfor %}

</table>

{% else %}

<div class="empty-cart">

У вас пока нет заказов.

</div>

{% endif %}

</div>

</div>

{% endblock %}