{% extends "base.html" %}

{% block content %}

<div class="auth-page">

<div class="auth-card">

<h1>

Регистрация

</h1>

<p>

Создайте аккаунт AUTOLUX

</p>

<form method="POST">

<div class="input-group">

<label>

Логин

</label>

<input
type="text"
name="username"
required>

</div>

<div class="input-group">

<label>

Email

</label>

<input
type="email"
name="email"
required>

</div>

<div class="input-group">

<label>

Пароль

</label>

<input
type="password"
name="password"
required>

</div>

<button class="main-btn">

Создать аккаунт

</button>

</form>

<div class="auth-footer">

Уже есть аккаунт?

<a href="/login">

Войти

</a>

</div>

</div>

</div>

{% endblock %}